ProjectManager.DTO/bin/
ProjectManager.DTO/obj/
ProjectManager.WPF/bin/
ProjectManager.WPF/obj/
ProjectManagerModel/bin/
ProjectManagerModel/obj/
Header_and_Footer/.vs/
Header_and_Footer/Header_and_Footer/.vs/
Header_and_Footer/Header_and_Footer/bin/
Header_and_Footer/Header_and_Footer/obj/
Header_and_Footer/packages/
.vs/
*.log
data/
