@using BlazorServerTelerik.Components.Presenters
@using Telerik.Blazor
@using Telerik.Blazor.Components

<div>
    <TelerikCard>
        <CardHeader Class="k-hbox">
            <div>
                <CardTitle>Task Progress</CardTitle>
            </div>
        </CardHeader>
        <CardBody>
            <div>
                <GanttControl/>
            </div>
        </CardBody>
    </TelerikCard>
</div>